* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#0078ff, #00c1ff);
    .fa-rocket {
        position: absolute;
        margin-bottom: 400px;
        font-size: 40px;
        color: #0563d2;
        background-color: white;
        padding: 20px;
        border-radius: 100%;
    }
    form {
        background-color: white;
        width: 50%;
        padding: 20px;
        height: 50%;
        text-align: center;
        h2 {
            color: #0078ff;
        }
        .div {
            display: flex;
            padding-left: 100px;
            padding-top: 30px;
            input {
                padding: 6px;
                border-radius: 10px;
                border: solid grey 1px;
                width: 300px;
                margin-top: 15px;
            }
            button {
                background-color: #ff323f;
                color: white;
                border: none;
                cursor: pointer;
                padding: 6px;
                border-radius: 10px;
                width: 130px;
                margin-right: 180px;
                margin-top: 15px;
            }
            .div2 {
                textarea {
                    margin-top: 15px;
                    border-radius: 10px;
                    height: 100px;
                    width: 200px;
                    margin-left: 25px;
                    padding: 10px;
                }
            }
        }
    }
}