* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffebed;
    form {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        .p {
            margin-bottom: 15px;
        }
        pre {
            font-size: 12px;
            margin-top: 15px;
        }
        button {
            padding-right: 63px;
            padding-top: 13px;
            padding-bottom: 11px;
            width: 152px;
            border-radius: 8px;
            background-color: white;
            border: solid grey 1px;
            color: #0d6efd;
            i {
                margin-right: 8px;
                margin-left: 9px;
            }
            .fa-plus-circle {
                margin-left: 0px;
            }
        &:hover {
            background-color: #81d5fa;
            border: solid blue 2px;
            cursor: pointer;
            color: white;
        }
        }
        input {
            padding: 10px;
            width: 286px;
            border-radius: 7px;
            border: solid grey 1px;
            margin-top: 10px;
        }
     .divin {
         margin-top: 10px;
        text-align: center;
        a {
            text-decoration: none;
            color: #0d6efd;
        }
    button {
        background-color: #0d6efd;
        color: white;
        text-align: center;
        padding: 13px;
        width: 310px;
        margin-top: 10px;
    }
     }
    }
}