*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #ea356a;

}
body .div1 {
    position: absolute;
    background-color: #4d4d4f;
    margin-left: 340px;
    margin-right: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 150px;
    height: 50px;
    width: 800px;
}
form {
    z-index: 1;
    position: absolute;
    margin-left: 340px;
    margin-right: auto;
    margin-top: 190px;
    background-color: #3e3e3e;
    height: 350px;
    width: 800px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
form .div2 {
    position: absolute;
    margin-left: 70px;
    margin-top: 50px;
    color: #de226c;
}
input {
    width: 300px;
    margin-top: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: solid ;
    color: #656565;
    height: 30px;
}
.id::placeholder {
    color: white;
} 
form .div3 {
    margin-top: 16px;
    margin-left: 450px;
}
form .h2 {
    width: 40px;
    padding-bottom: 5px;
    border-bottom: solid 3px;
}
form .in4 {
    margin-top: 50px;
}
p {
    position: absolute;
    margin-top: 300px;
    margin-left: 65px;
    font-size: 12px;
    color: gray;
}
a {
    color: #ea356a;
    margin-left: 15px;
    text-decoration: none;
}
form .div4 {
    margin-left: 612px;
    margin-top: 15px;
}
i {
    font-size: 12px;
}
#i1 {
    color: #e70f50; 
    margin-left: 40px; 
}
#i2 {
    color: yellow;
    margin-left: 10px;
}
#i3 {
    color: green;
    margin-left: 10px;
}
#i4 {
    position: absolute;
     margin-left: 640px;
     font-size: 25px;
     color: grey;
     cursor: pointer;
}
body .div11 {
    position: absolute;
    margin-top: 12px;
}