*{
    margin: 0;
    padding: 0;
}
div{
    background-color: rgb(87, 83, 83);
    padding: 15px;
}
div ul li {
    display: inline;
    margin-left: 10px;

}
div ul li a {
    color: #fff;
}
#mov{
    color: grey;
}
.liBorder:not(#last){
    border-right: 1px solid grey;
}
#search input{
    height: 20px;
    border-radius: 5px;
    border: none;
}
#search li{
    position: absolute;
    left: 90px;
    padding: 5px;
    background-color: #fff;
    color: grey;
}