* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#151132, #2f2a60);
    display: flex;
    justify-content: center;
    align-items: center;
    form {
        position: relative;
        overflow: hidden;
        background-color: #271558;
        border-radius: 20px;
        height: 430px;
        width: 320px;
        box-shadow: 0 0 30px black;
        h1 {
            color: white;
            text-align: center;
        }
        input {
            margin-left: 36px;
            border-radius: 7px;
            height: 30px;
            width: 75%;
           padding: 5px;
           outline: none
        }
        button {
            width: 70%;
            height: 40px;
            background-color: #573a8a;
            border-radius: 6px;
            border: none;
            cursor: pointer;
            color: white;
            margin-left: 52px;
        }
        a {
            padding-left: 140px;
            padding-right: 143px;
            padding-top: 15px;
            padding-bottom: 50px;
            text-decoration: none;
            color: #5c4476;
            background-color: white;
            border-radius: 45%;
        }
    }
}